header {
  display: flex;
  align-items: baseline;
  gap: 1rem;

  .logotype {
    font-size: 1.4em;
    font-weight: 500;
  }

  .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
}