header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  gap: 1rem;
  color: $text-color-dark;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  padding: 1em 0.5em;
  z-index: 1;
  min-height: 60px;

  .logotype {
    font-size: 1.4em;
    font-weight: 500;
  }

  .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: $text-color-dark;

      &:not(.btn):hover, &.active {
        text-decoration: underline;
      }
    }
  }
}