.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('/images/girl_drinking_water.png');

  color: $white;
  //padding: 4rem 0;
  padding-top: 5.5rem;
  @include mobile{
    padding-top: 0;
  }

  .wrapper {
    height: 100%;
  }

  .main-info {
    position: relative;
    display: grid;
    height: 100%;
    place-content: end end;
    @include mobile {
      place-content: center end;
    }
    .call-to-action {

      font-size: 4em;
      font-weight: 900;
      width: 100%;
      text-align: right;
      text-transform: uppercase;
      line-height: 1.2;

      @include mobile {
        line-height: 1.9;
      }
    }
  }
}