#overlay {
  background-color: #aaa9;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  display: none;
  place-content: center;

  .youtube-wrapper {
    width: 80vw;
  }


}