{{- define "main" -}}
<div class="wrapper">
  <main class="main" id="main">
    <h2>Performances</h2>
    {{ partial "search" . }}
    <section class="performers list" id="performers">
      {{ range $.Site.Data.performers }}
      <div class="card" onclick="showVideo('{{ .youtubeID }}')">
        <div class="name">{{ .name }}</div>
        <div class="thumbnail">
          <img src="https://img.youtube.com/vi/{{ .youtubeID }}/mqdefault.jpg" alt="Youtube Thumbnail for {{.name}}"/>
        </div>
        <div class="tags">{{ delimit .tags ", " }}</div>
      </div>
      {{ end }}

    </section>
  </main>
</div>
<div id="overlay" onclick="closeVideo()">
</div>
{{- end -}}