<section id="about-us">
  <div class="wrapper">
    <h1>About Us</h1>
    <p>For years, small groups of children from all around the country have been organizing and performing in benefit
      concerts. Kids would perform songs, recite poems, show their art, and even do some stand up comedy! The proceeds
      from these concerts go to a charity chosen by the kids to benefit children in need. This year, due to COVID-19, we
      are doing things differently by creating a virtual benefit concert containing performances from all around the
      world. Even through our challenges this year, we are uniting to bring more good into the world.
      And as a bonus, for every donation you give, <strong>The Eyrealm Foundation will double what you give.</strong>
    </p>
    <p class="h5">This is Children
      for Children.</p>
    <p class="h6"> We invite you to watch some of the performances below, then donate to help us make a difference in the lives of
      many children.</p>
  </div>
</section>