<section id="about-us">
  <div class="wrapper">
    <h1>About Us</h1>
    <p>For years, small groups of children from all around the country have been organizing and performing in benefit
      concerts. Kids would perform songs, recite poems, show their art, and even do some stand up comedy! The proceeds
      from these concerts go to a charity chosen by the kids to benefit children in need. This year, due to COVID-19, we
      are doing things differently by creating a virtual benefit concert containing performances from all around the
      world. Even through our challenges this year, we are uniting to bring more good into the world.</p>
    <p><strong>This is Children
      for Children.</strong></p>
  </div>
</section>