<section class="hero" style="background-image: url('/images/emma-svalstad-gRfvr_RYue4-unsplash.jpg')">
  <div class="wrapper">
    <div class="main-info">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
    <span style="display:none;">Photo by <a
      href="https://unsplash.com/@emmasvalstad?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Emma Svalstad</a> on <a
      href="https://unsplash.com/s/photos/children-playing-instruments?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>
  </div>
</section>
