<section class="hero" style="background-image: url('/images/emma-svalstad-gRfvr_RYue4-unsplash.jpg')">
  <div class="main-info">
<!--    Keep this for later-->
    <h2>2020 Children for Children Concerts</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ipsam iure nam sequi temporibus! Beatae illum
      perspiciatis quas quasi! Accusamus architecto, aspernatur commodi culpa dolor doloribus dolorum eius eos impedit,
      ipsa odio officiis quo sit veniam voluptate? Ab adipisci animi inventore ipsum laudantium nesciunt repudiandae
      suscipit, voluptatem! Cumque fugit, illum.</p>
  </div>
  <span style="display:none;">Photo by <a
    href="https://unsplash.com/@emmasvalstad?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Emma Svalstad</a> on <a
    href="https://unsplash.com/s/photos/children-playing-instruments?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</section>
