<section class="hero" style="background-image: url('/images/emma-svalstad-gRfvr_RYue4-unsplash.jpg')">
<!--  <img src="/images/emma-svalstad-gRfvr_RYue4-unsplash.jpg" height="1536" width="2304"/>-->
  <span>Photo by <a
    href="https://unsplash.com/@emmasvalstad?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Emma Svalstad</a> on <a
    href="https://unsplash.com/s/photos/children-playing-instruments?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</section>
