<section id="performers">
  <div class="wrapper">
    <h2>Performances</h2>
    {{ partial "search" . }}
    <section class="cards list">
      {{ range sort (sort $.Site.Data.performers "first_name") "last_name" }}
      <div class="card" onclick="showVideo('{{ .youtubeID }}')">
        <div class="name">{{ .fullName }}</div>
        <div class="thumbnail">
          <img src="https://img.youtube.com/vi/{{ .youtubeID }}/mqdefault.jpg" alt="Youtube Thumbnail for {{.fullName}}"/>
        </div>
        <div class="talent">{{ .talent }}</div>
      </div>
      {{ end }}

    </section>
  </div>
</section>

<div id="overlay" onclick="closeVideo()"></div>