<section id="performers">
  <div class="wrapper">
    <h1>Performances</h1>
    {{ partial "search" . }}
    <section class="cards list">
      {{ range $.Site.Data.performers }}
      <div class="card" onclick="showVideo({{ . | jsonify | safeJS }})">
        <div class="name">{{ .fullName }}</div>
        <div class="thumbnail">
          <img src="https://img.youtube.com/vi/{{ .youtubeID }}/mqdefault.jpg"
               alt="Youtube Thumbnail for {{.fullName}}"/>
        </div>
        <div class="talent">{{ .talent }}</div>
      </div>
      {{ end }}

    </section>
  </div>
</section>

<div id="overlay" onclick="closeVideo()"></div>